body { background: #bcabf7; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 40px; display: flex; }
.block-validator-0 { color: #9c93e4; font-size: 17px; margin-bottom: 5px; }
.block-filter-1 { color: #d37cc6; font-size: 16px; margin-bottom: 5px; }
.block-token-2 { color: #79bcc4; font-size: 13px; margin-bottom: 5px; }
.block-shipping-3 { color: #729bb8; font-size: 13px; margin-bottom: 5px; }
.block-sms-4 { color: #31b575; font-size: 17px; margin-bottom: 5px; }
.block-email-5 { color: #1d9a4c; font-size: 13px; margin-bottom: 5px; }
.block-token-6 { color: #777c03; font-size: 16px; margin-bottom: 5px; }
.block-metrics-7 { color: #a536e5; font-size: 12px; margin-bottom: 5px; }
.block-cart-8 { color: #3e9377; font-size: 19px; margin-bottom: 5px; }